<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         strict="true"
         verbose="true">

    <testsuite name="all-tests">>
        <directory>tests</directory>
    </testsuite>

    <testsuite name="travis-ci">>
        <directory>tests</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
          </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
